body{
  padding: 0;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.media{

  padding-top: 5px;
  position: fixed;
  z-index: 10;
  display: block;
  width: 100%;
  
top:  0;}

li{
  display: inline;
  margin: auto;
  width: 100px;
  padding: 20px;
  height: 80px;
}

img{
  position: relative;
}

.wis-option a{
  width: 100px;
  font-family:  'Lato', sans-serif;
  text-decoration: none;
  font-weight: 900;
  color: #2c3e50;
}

ul.wis-list{
  list-style-type: none;
  width: 60%;
  position: relative;
  margin: 0 auto;
  float: none;
  height: 40px;
}
