/*------------------------------------*\
	RESET
\*------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}


body{
  padding: 0;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  font-family: 'Lato';
  top: 0;
  left: 0;
  text-align: center;
  background: #424242;
}
#nav{
    list-style:none;
    font-weight:bold;

    float:right; /* Clear floats */

    /* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */
}
.backdrop{
	background: url("http://cdn.playbuzz.com/cdn/6570a9ab-c6ef-434e-94cb-e04a1dea33e2/6d4f34ed-0d8b-440e-8ac9-afc2d14fb1a7.jpg");
	width:100%;
	height:400px;
	overflow:hidden;
	background-position: 0;
}
#nav li{
    float:right;
    margin-right:10px;
    position:relative;
}
#nav a{
    display:block;
    padding:5px;
    color:#fff;
    background:#333;
    text-decoration:none;
}
#nav a:hover{
    color:#fff;
    background:#6b0c36;
    text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nav ul{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
    padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#nav ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background:#6b0c36;
    text-decoration:underline;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#333;
}

.media{

  
  
  z-index: 10;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #010101;
  
bottom: 10px;position: fixed;}


.music{
  z-index: 10;
  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  
}
.music a{
  display: inline-block;
  line-height: 60px;
  width: 152px;
  height: 60px;
  

}

.music h1{
  float: left;
  font-weight: 300;
  padding:0;
  margin:0;
  margin-top: 10px;
  font-size: 3.3em;
  padding-left: 30px;
  color: #efefef;
  line-height: 70px;
}
img.back-drop{
      max-width: 100%;
      min-height: 450px;
}


.body{
 font-family: 'Lato', sans-serif;
 position: absolute;
 top: 85px;
 color: rgb(239,239,239);
 width: 100%;
}

h1{
 font-weight: 100; 
}


img{
  position: relative;
  max-width: 100%;
  min-height:  450px;
}
.button{
	display: block;
	background-color: #9b59b6;
	border-bottom: 6px solid #8e44ad;
	border-radius: 10px;
}
a.button{
	width: 150px;
	height: 45px;
	line-height: 45px;
	text-decoration: none;
	font-size: 1.2em;
	color: #ecf0f1;
}
.lead{

	font-size: 3.3em;
	color: #efefef;
}

.wis-option a{
  font-family:  'Lato', sans-serif;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.1em;
  color: rgb(239,239,239);
}

ul.wis-list{
  list-style-type: none;
  width: 60%;
  position: relative;
  margin: 0 auto;
  float: none;
  height: 40px;
}
 
